$theme-ntu: NTU;
$theme-garden: Garden;
$theme-beach: Beach;
$themes: $theme-ntu $theme-garden $theme-beach;
$NTU-hover: #DE873A;
$NTU-checked: #A12F35;
$Garden-hover: #9AC07E;
$Garden-checked: #608641;
$Beach-hover: #00A3D3;
$Beach-checked: #007790;
$control-color: $Garden-checked;

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

@each $theme in $themes {
    .#{$theme} {
        .home {
            background-image: url("ui/images/"+$theme+"/home-mobile.jpg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

@media (min-width: 991px) {
    @each $theme in $themes {
        .#{$theme} .home {
            background-image: url("ui/images/"+$theme+"/home.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

.home {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    height: 100%;
}

#introChiao,
#introLin {
    height: 50%;
}

.theme-btn-wrap {
    position: absolute;
    right: 40px;
    line-height: 50px;
    .theme-btn {
        border: none;
        background-color: transparent;
        padding: 0px;
    	outline: none;
    }
}

%theme-btn {
    margin: 0px 10px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    vertical-align: middle;
    fill: #797979;
    width: 20px;
    height: 20px;
}

#NTU svg {
    @extend %theme-btn;
}

#NTU:hover svg {
    fill: $NTU-hover;
}

#NTU.btn-checked svg{
    fill: $NTU-checked;
}
#Beach svg {
    @extend %theme-btn;
}
#Beach:hover svg {
    fill: $Beach-hover;
}
#Beach.btn-checked svg{
    fill: $Beach-checked;
}
#Garden svg {
    @extend %theme-btn;
}
#Garden:hover svg {
    fill: $Garden-hover;
}
#Garden.btn-checked svg{
    fill: $Garden-checked;
}
#home {
    display: block;
    position: absolute;
    top: 0px;
}

.img-abs {
    position: absolute;
}

#aboutUsImgContainer {
    padding: 0px;
}

.about-us {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.about-us-hover {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#btnRow {
    bottom: 10px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 0px 5px;
    .img-btn {
        display: inline-block;
        a {
            cursor: pointer;
            background-color: white;
            width: 10px;
            height: 10px;
            display: block;
            margin: 0px 5px;
            border-radius: 20px;
        }
        /*a:before {
			position:absolute;
		    content: " ";
		    border-radius: 20px;
		    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
		}*/
        a:hover {
            background-color: #691917;
        }
    }
}

#aboutUsTextContainer {
    margin-left: 20px;
}

.intro {
    font-size: 1.1em;
    text-align: center;
}

.introHeader {
    text-align: center;
    font-size: 2em;
    color: blue;
    height: 50%;
}

/*.introHeader::before {
	content: '';
	width: 0px;
	height: 100%;
	display: inline-block;
    vertical-align: middle;
}*/

%himher {
    background-size: 50%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center center;
}

.introHeaderChiao {
    background-image: url("ui/images/intro-him.png");
    @extend %himher;
}

.introHeaderLin {
    background-image: url("ui/images/intro-her.png");
    @extend %himher;
}

#whenwhereImg {
    width: 100%;
}

.map-info {
    font-size: 1.5em;
    line-height: 1.7em;
    padding-top: 20px;
}

.address-row {
    margin-bottom: 30px;
}

.taipei img{
	width: 100%;

}
#fbLoginCover {
	opacity: 0.9;
	position:relative; 
	top:0px;

}
.form-header {
	text-align: center;
	font-size: 3em;
}
.form-field span{
	height: 50px;
    display: inline-block;
    vertical-align: middle;
}
%man-svg {
	width: 50px;
	height: 50px;
	background-size: 30px 30px;
	background-repeat:no-repeat;
	background-position: center center;
}
.man {
	@extend %man-svg;
	width: 50px;
	text-align: center;
}
.man-filled {
	color: #5CB85C;
}
.man-please {
	background-image: url("ui/images/please.svg");
}
.man-grass-empty {
	background-image: url("ui/images/grass.svg");
}
.man-steak-empty {
	background-image: url("ui/images/steak.svg");
}
.man-steak-filled {
	background-image: url("ui/images/steak-filled.svg");
}
.man-vegan-empty {
	background-image: url("ui/images/vegan.svg");
}
.man-vegan-filled {
	background-image: url("ui/images/vegan-filled.svg");
}
.man-child-empty {
	background-image: url("ui/images/child.svg");
}
.man-child-filled {
	background-image: url("ui/images/child-filled.svg");
}
#address-input {
	resize: none;
}
#words {
	resize: none;
}
#sorryMsg .sorryMsg-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	$dialogWidth: 300px;
	$dialogHeight: 90px;
	margin-left: -1 * $dialogWidth/2;
	margin-top: -1 * $dialogHeight/2;
	.modal-content {
		padding: 20px 40px;
	}
}
.bootstrap-switch-controller {
	background-color: $control-color;
	color: white;
}
#form-wrap {
	overflow: hidden;
	transition: height 1s;
	height: 0px;
}
#button-wrap {
	display: none;
}
#fb-desc {
	text-align: center;
    font-size: 3em;
}
#gallery-title {
    text-align: center;
    font-size: 3em;
}