$theme-ntu: NTU;
$theme-garden: Garden;
$theme-beach: Beach;
$themes: $theme-ntu $theme-garden $theme-beach;

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.intro-header {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    @each $theme in $themes {
    	.#{$theme} & {
    		background-image: url("../images/"+$theme+"/home.png");
    		background-repeat: no-repeat;
    		background-position: center center;
    	}
    }
    
    background-size: cover;
    height: 100%;
}
.theme-btn {
	position:absolute;
	right: 40px;
	line-height: 50px;
}

#home {
    display: block;
    position: absolute;
    top: 0px;
}
.img-abs {
	position: absolute;
}
.about-us {
	height: 100%;
	width: 100%;
	background-size: cover;
}
.about-us-hover {
	height: 100%;
	width: 100%;
	background-size: cover;
}